<div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
          <div class="panel-heading">Login</div>
          <div class="panel-body">
            <form class="form-horizontal" #form="ngForm" novalidate (ngSubmit) = "onSubmit(form)">
              <ul class="list-group">
                <li class="list-group-item text-danger" *ngIf="userEmail.errors?.required && userEmail.touched">The Email is required</li>
                <li class="list-group-item text-danger" *ngIf="userPassword.errors?.required && userPassword.touched">The password is required</li>
              </ul>
              <div class="form-group">
                <label for="email" class="control-label col-md-4">E-mail Address</label>
  
                <div class="col-md-6">
                  <input id="email" type="email" class="form-control" name="email" ngModel #userEmail="ngModel" required>
                </div>
              </div>
              <div class="form-group">
                <label for="password" class="col-md-4 control-label">Password</label>
  
                <div class="col-md-6">
                  <input type="password" name="password" class="form-control" name="password" ngModel minlength="6" #userPassword = "ngModel" required>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-8 col-md-offset-4">
                  <button type="submit" class="btn btn-primary" [disabled]="form.invalidate">
                    Login
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>